* {
  margin: 0;
}

/* Notes */
.container {
  margin: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  padding-left: 30px;
  background-color: darkgray;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  color: white;
}

.navbar p {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

/* Display-Notes */
.notes-container h1 {
  margin: 2vh;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

/* Home */
.home h2 {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}
